<!DOCTYPE html>
<html lang="en">

<head>

    <title> Home | EventIT </title>
    <% include ../partials/head %>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home"> EventIT </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/services">Services</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Events <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/cultural"> Cultural </a>
                            </li>
                            <li>
                                <a href="/technical"> Technical </a>
                            </li>
                            <li>
                                <a href="/sports"> Sports </a>
                            </li>
                            <li><hr>
                                <a href="/all_events">All Events</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('https://www.atrium.gr/wp-content/uploads/2016/04/01-2.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Providing Summary, record for future</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://iri-training.com/wp-content/uploads/2015/05/carousel-1-2.jpg');"></div>
                <div class="carousel-caption">
                    <h2>A Smart Reach to audience</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://www.mjrgr.com/wp-content/uploads/2015/11/mjrgroup_corporate-events.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Experience Events</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Welcome to EventIT
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4> <i class="glyphicon glyphicon-road" ></i> What we can provide for you?</h4>
                    </div>
                    <div class="panel-body">
                        <p>Online pass is produced for the registered paid event instantly. A preview of one’s entire profile (events he/she registered via our app) can be viewed in the app. New events can be uploaded by the users as event organisers and those requests will be reviewed to add them in the website. </p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4> <i class="fa fa-fw fa-gift" ></i> Free &amp; Open Source </h4>
                    </div>
                    <div class="panel-body">
                        <p>Our service is absolutely free to all the customers so that it reaches everyone. It is a non-profit service. We hope this very beginning of the site is useful to our customer and we promise the best service from our side.</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4> <i class="glyphicon glyphicon-user" ></i> Spread your Event </h4>
                    </div>
                    <div class="panel-body">
                        <p>Upload your Evnent details and let it reach the world with $0 investment. Customers can also be benifitted by offers provided by us like, publish, stats, selecting customers (as per their interest) via addvertisements also providing a platform to showcase the details in a neat formatted way.</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Categories</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="https://www.unitybpo.com/themes/ee/asset/img/careers1.jpg" alt="Information Technology">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="https://www.exponentialinvestor.com/wp-content/uploads/sites/3/2016/09/robo-novel.png" alt="Robotics">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://www.pcschina.org/kindeditor/attached/image/20170322/20170322140910_7722.jpg" alt="Sports">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="https://i1.wp.com/chungwah.org.au/wp-content/uploads/Chung-Wah-Dance-7.jpeg?resize=700%2C450" alt="Cultural">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://fx.itpro.no/img/2015/09/cloud_computing_security_touch_circle.jpg" alt="Cloud Computing">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="https://s3-us-west-2.amazonaws.com/cdn.vpg-web.com/rs/filestore/5/1/6/4_31d26796bd00f1a/51641ai_a03366588684138.jpg" alt="IoT">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header"> Features</h2>
            </div>
            <div class="col-md-6">
                <p>The EventIT webapp includes:</p>
                <ul>
                    <li><strong>Instant Online Pass</strong>
                    </li>
                    <li>Organise/Upload</li>
                    <li>Glimpse of the event</li>
                    <li>Profile Preview</li>
                    <li>Moblie notifications/Remainders</li>
                </ul>
                <p>At Events High, we are building the gateway to all events happening in your city. We believe local activities help people come together via common interests, locality and causes and it's a shame that there is no efficient way to find out what's happening in your locality.
                We are a young startup with big dreams and a simple vision - to solve the local event and activity discovery problem for everyone.</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="http://www.carillion.com/assets/img/gallery/hardware-9_mini.jpg" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>We always welcome your suggessions. Please give your feedback, so that we can improve at our services at the earliest. Feel free to contact us.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="/contact">Call to Action</a>
                </div>
            </div>
        </div>

        <hr>

        <% include ../partials/footer %>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
